body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    background-color: white;
}

.container {
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px white;
text-align: center;
width: 300px;
}

h1{
    color: black;
}

form>div {
    margin: 10px 0;
}

select {
    width: 100%;
    padding: 8px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}